<div class="kpi_detail">
	<div class="kpi_detail_head">
		<button class="icon_btn _back" (click)="goBack()">Back</button>
		<div class="kpi_detail_title">Levle 4 PCBA FPYR - PCBA FPYR - E- TRON UBB - Line:D3</div>
	</div>
	<div class="kpi_detail_filter">
		<div class="radiobox">
			搜尋方式：
			<label class="normal_radioCheckbox">
				<input type="radio" name="kpiFilter" [checked]="isTime" (click)="changeMode('t')" />
				<span></span>
				時間區間
			</label>
			<label class="normal_radioCheckbox">
				<input type="radio" name="kpiFilter" [checked]="!isTime" (click)="changeMode('i')" />
				<span></span>
				UPN, MO
			</label>
		</div>
		<div class="searchbox">
			<div class="normal_dateRange _hasMsg" data-msg="Date Range" *ngIf="isTime">
				<div class="normal_dateRange_title" (click)="dateHanler('start')">
					<div class="date">
						<span>{{ this.kpi_filter.start.year }}</span>
						<span>{{ this.kpi_filter.start.month }}</span>
						<span>{{ this.kpi_filter.start.day }}</span>
					</div>
					<div class="time">
						<span>{{ this.kpi_filter.start.hour }}</span>
						<span>{{ this.kpi_filter.start.min }}</span>
					</div>
				</div>
				<app-model-calendar class="calendar" *ngIf="kpi_filter.start.isShow" [calendar_content]="calendar"
					(calendar_return)="calerdarReturnHandler($event)">
				</app-model-calendar>
			</div>
			<div class="normal_dateRange" *ngIf="isTime">
				<div class="normal_dateRange_title" (click)="dateHanler('end')">
					<div class="date">
						<span>{{ this.kpi_filter.end.year }}</span>
						<span>{{ this.kpi_filter.end.month }}</span>
						<span>{{ this.kpi_filter.end.day }}</span>
					</div>
					<div class="time">
						<span>{{ this.kpi_filter.end.hour }}</span>
						<span>{{ this.kpi_filter.end.min }}</span>
					</div>
				</div>
				<app-model-calendar class="calendar" *ngIf="kpi_filter.end.isShow" [calendar_content]="calendar"
					(calendar_return)="calerdarReturnHandler($event)">
				</app-model-calendar>
			</div>
			<div class="normal_inp _hasMsg" data-msg="UPN(成品料號)" *ngIf="!isTime">
				<input type="text">
			</div>
			<div class="normal_inp _hasMsg" data-msg="Mo" *ngIf="!isTime">
				<input type="text">
			</div>
			<app-model-selcheck class="normal_selcheck _hasMsg" data-msg="Line" [selectContent]="line_sel"
				(selCheckShowEvent)="selCheckShow($event)" (selCheckEvent)="selCheckHandler($event)">
			</app-model-selcheck>
			<app-model-selcheck class="normal_selcheck _hasMsg" data-msg="Stage" [selectContent]="stage_sel"
				(selCheckShowEvent)="selCheckShow($event)" (selCheckEvent)="selCheckHandler($event)">
			</app-model-selcheck>
			<button class="normal_btn _primary">Query</button>
		</div>
	</div>
	<div class="kpi_tabbox">
		<button [class]="['border_btn' ,'_kpi' ,isIssue?'':'on']" (click)="issueHanler(false)">Time Chart</button>
		<button [class]="['border_btn' ,'_kpi' ,isIssue?'on':'']" (click)="issueHanler(true)">Issue</button>

		<button class="border_btn _kpi">Houarly</button>
		<button class="border_btn _kpi on">Bi-Hourly</button>
		<button class="border_btn _kpi">Daily</button>
		<button class="border_btn _kpi">Weekly</button>
		<button class="border_btn _kpi">Monthly</button>
	</div>
	<div class="kpi_detail_content">
		<div class="btnbox">
			<button class="border_btn _export"><i _ngcontent-ng-c2185158378=""></i>匯出 Excel</button>
		</div>
		<div class="kpi_chart" *ngIf="!isIssue">
			<div class="kpi_chart_title">E-TRON UBB</div>
			<ul class="kpi_chart_y" data-msg="Rete(%)">
				<li *ngFor="let item of chart_time.y1" [attr.data-msg]="item"></li>
			</ul>
			<ul class="kpi_chart_y _right" data-msg="Qty">
				<li *ngFor="let item of chart_time.y2" [attr.data-msg]="item"></li>
			</ul>
			<ul id="chartbox_group" class="kpi_chart_content">
				<li *ngFor="let item of chart_time.info;index as i">
					<div class="kpi_chart_line"></div>
					<span [id]="'green'+i" class="green" [style]="'height:'+item.g+'px;'"
						(mousemove)="chartmouseMove($event ,i)" (mouseleave)="chartmouseLeave()"
						(click)="chartHandler(item.state)"></span>
				</li>
			</ul>
			<ul class="kpi_chart_x">
				<li *ngFor="let item of chart_time.x">{{item}}</li>
			</ul>
		</div>
		<div class="kpi_detailTb" *ngIf="!isIssue">
			<div class="kpi_detailTb_filter">
				<span class="txt">kpi_detailTb_filter</span>
				<button class="normal_btn _kpiviewall">View All</button>
				<app-model-selcheck class="normal_selcheck _hasMsg" data-msg="Mo Filter" [selectContent]="mofilter_sel"
					(selCheckShowEvent)="selCheckShow($event)" (selCheckEvent)="selCheckHandler($event)">
				</app-model-selcheck>
			</div>
			<table class="kpi_detailTb_tb" *ngIf="chart_tb.state=='FPYR'">
				<tr>
					<th rowspan="2">Time</th>
					<th rowspan="2">Target</th>
					<th rowspan="2">Actual</th>
					<th colspan="5">Detail</th>
				</tr>
				<tr>
					<th>MAX PASS</th>
					<th>Line</th>
					<th>Output</th>
					<th>Input</th>
					<th>Stage</th>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>99.5%</td>
					<td>90.0%</td>
					<td>Max Pass 178(pcs)</td>
					<td>S3</td>
					<td>176</td>
					<td>176</td>
					<td>TK</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>99.5%</td>
					<td>90.0%</td>
					<td>Max Pass 178(pcs)</td>
					<td>S3</td>
					<td>176</td>
					<td>176</td>
					<td>TK</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>99.5%</td>
					<td>90.0%</td>
					<td>Max Pass 178(pcs)</td>
					<td>S3</td>
					<td>176</td>
					<td>176</td>
					<td>TK</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>99.5%</td>
					<td>90.0%</td>
					<td>Max Pass 178(pcs)</td>
					<td>S3</td>
					<td>176</td>
					<td>176</td>
					<td>TK</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>99.5%</td>
					<td>90.0%</td>
					<td>Max Pass 178(pcs)</td>
					<td>S3</td>
					<td>176</td>
					<td>176</td>
					<td>TK</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>99.5%</td>
					<td>90.0%</td>
					<td>Max Pass 178(pcs)</td>
					<td>S3</td>
					<td>176</td>
					<td>176</td>
					<td>TK</td>
				</tr>
			</table>
			<table class="kpi_detailTb_tb" *ngIf="chart_tb.state=='UPPH'">
				<tr>
					<th rowspan="2">Time</th>
					<th rowspan="2">Target</th>
					<th rowspan="2">Actual</th>
					<th colspan="2">Detail</th>
				</tr>
				<tr>
					<th>Produce(Output)</th>
					<th>Hour(人力總工時)</th>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>150</td>
					<td>200</td>
					<td>100</td>
					<td>50</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>150</td>
					<td>200</td>
					<td>100</td>
					<td>50</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>150</td>
					<td>200</td>
					<td>100</td>
					<td>50</td>
				</tr>
			</table>
			<table class="kpi_detailTb_tb" *ngIf="chart_tb.state=='OEE'">
				<tr>
					<th rowspan="2">Time</th>
					<th rowspan="2">Target</th>
					<th rowspan="2">Actual</th>
					<th colspan="3">Detail</th>
				</tr>
				<tr>
					<th>Line</th>
					<th>Duration</th>
					<th>PD_RUN</th>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>85</td>
					<td>50</td>
					<td>S1</td>
					<td>60(Min)</td>
					<td>30(Min)</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>85</td>
					<td>50</td>
					<td>S1</td>
					<td>60(Min)</td>
					<td>30(Min)</td>
				</tr>
				<tr>
					<td>2023/11/21 08:00</td>
					<td>85</td>
					<td>50</td>
					<td>S1</td>
					<td>60(Min)</td>
					<td>30(Min)</td>
				</tr>
			</table>
			<ul class="normal_page">
				<li class="normal_page_item _prev"></li>
				<li class="normal_page_item on">1</li>
				<li class="normal_page_item">2</li>
				<li class="normal_page_item">3</li>
				<li class="normal_page_item">4</li>
				<li class="normal_page_item">5</li>
				<li class="normal_page_item _dot">...</li>
				<li class="normal_page_item">100</li>
				<li class="normal_page_item _next"></li>
			</ul>
		</div>
		<div class="kpi_chart _issue" *ngIf="isIssue">
			<div class="kpi_chart_title"></div>
			<ul class="kpi_chart_y">
				<li *ngFor="let item of chart_issue.y1" [attr.data-msg]="item"></li>
			</ul>
			<ul id="chartbox_group" class="kpi_chart_content">
				<li *ngFor="let item of chart_issue.info;index as i">
					<div class="kpi_chart_line"></div>
					<span [id]="'green'+i" class="green" [style]="'height:'+item.g+'px;'"
						(mousemove)="chartmouseMove($event ,i)" (mouseleave)="chartmouseLeave()"
						(click)="chartHandler(item.state)"></span>
					<span class="orange" [style]="'height:'+item.o+'px;'"></span>
					<span class="red" [style]="'height:'+item.r+'px;'"></span>
				</li>
			</ul>
			<ul class="kpi_chart_x">
				<li *ngFor="let item of chart_issue.x">{{item}}</li>
			</ul>
		</div>
		<div class="kpi_detailTb _issue" *ngIf="isIssue">
			<table class="kpi_detailTb_tb" *ngIf="chart_tb.state=='FPYR'">
				<tr>
					<th rowspan="2" class="txtl">Unit P/N</th>
					<th rowspan="2" class="txtl">MO</th>
					<th rowspan="2" class="txtl">Line</th>
					<th rowspan="2" class="txtl">Product Name</th>
					<th rowspan="2">Overall FPYR(%)</th>
					<th rowspan="2">Overall YR(%)</th>
					<th colspan="3">BD.DIP_B-BOX TEST</th>
					<th colspan="3">AS.ASSEMBLY</th>
					<th colspan="3">TD.DIP_FUNCTION_A</th>
				</tr>
				<tr>
					<th>Input Q’ty</th>
					<th>Defect Q’ty</th>
					<th>T/R(%)</th>
					<th>Input Q’ty</th>
					<th>Defect Q’ty</th>
					<th>T/R(%)</th>
					<th>Input Q’ty</th>
					<th>Defect Q’ty</th>
					<th>T/R(%)</th>
				</tr>
				<tr>
					<td class="txtl">B91.04G10.0003</td>
					<td class="txtl">000010090972</td>
					<td class="txtl">D4</td>
					<td class="txtl nowrap">MB YV3.5 MPCL-A INF HSC MODULE MAXIM</td>
					<td>100.00</td>
					<td>100.00</td>
					<td>1</td>
					<td>0</td>
					<td>100</td>
					<td>0</td>
					<td>0</td>
					<td>100</td>
					<td>3</td>
					<td>0</td>
					<td>100</td>

			</table>
			<table class="kpi_detailTb_tb" *ngIf="chart_tb.state=='UPPH'">
				<tr>
					<th class="txtl">Line</th>
					<th class="txtl">Stage</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Duration</th>
					<th>Machine</th>
					<th>Status</th>
					<th>Remark</th>
				</tr>
				<tr>
					<td class="txtl">D1</td>
					<td class="txtl">TA</td>
					<td>2023/11/21 08:00</td>
					<td>2023/11/21 08:00</td>
					<td>02:00:00</td>
					<td>2080BFT-ND-0015 (C2080_15)</td>
					<td>EQ_WAIT</td>
					<td>設備當機</td>
				</tr>
				<tr>
					<td class="txtl">D1</td>
					<td class="txtl">TA</td>
					<td>2023/11/21 08:00</td>
					<td>2023/11/21 08:00</td>
					<td>01:00:00</td>
					<td>2080BFT-ND-0015 (C2080_15)</td>
					<td>EQ_WAIT</td>
					<td>助工借機複測</td>
				</tr>
			</table>
			<table class="kpi_detailTb_tb" *ngIf="chart_tb.state=='OEE'">
				<tr>
					<th class="txtl">Line</th>
					<th class="txtl">Stage</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Duration</th>
					<th>Machine</th>
					<th>Status</th>
					<th>Remark</th>
				</tr>
				<tr>
					<td class="txtl">D1</td>
					<td class="txtl">TA</td>
					<td>2023/11/21 08:00</td>
					<td>2023/11/21 08:00</td>
					<td>02:00:00</td>
					<td>2080BFT-ND-0015 (C2080_15)</td>
					<td>EQ_WAIT</td>
					<td>設備當機</td>
				</tr>
				<tr>
					<td class="txtl">D1</td>
					<td class="txtl">TA</td>
					<td>2023/11/21 08:00</td>
					<td>2023/11/21 08:00</td>
					<td>01:00:00</td>
					<td>2080BFT-ND-0015 (C2080_15)</td>
					<td>EQ_WAIT</td>
					<td>助工借機複測</td>
				</tr>
			</table>

			<div *ngIf="chart_tb.state=='FPYR2'">
				<table [class]="['kpi_detailTb_tb',item.ismore?'':'_hide']"
					*ngFor="let item of fpyr2_table; index as i">
					<caption class="kpi_detailTb_title">
						<span>{{item.title}} </span>
						<span>Total Defect Qty: {{item.total}}</span>
					</caption>
					<tr>
						<th class="txtl">Stage</th>
						<th class="txtl">Error Code</th>
						<th class="txtl">Defect Symptom</th>
						<th>Qty</th>
						<th>F/R(%)</th>
						<th>Reason Code</th>
						<th>Reason Description</th>
						<th>Location</th>
						<th>Qty</th>
						<th>F/R(%)</th>
					</tr>
					<tr *ngFor="let itemInside of item.data">
						<td class="txtl">{{itemInside.stage}}</td>
						<td class="txtl">{{itemInside.errorcode}}</td>
						<td class="txtl">{{itemInside.defectsymptom}}</td>
						<td>{{itemInside.qty}}</td>
						<td>{{itemInside.fr}}</td>
						<td>{{itemInside.reasoncode}}</td>
						<td>{{itemInside.reasondescription}}</td>
						<td>{{itemInside.location}}</td>
						<td>{{itemInside.qty2}}</td>
						<td>{{itemInside.fr2}}</td>
					</tr>
					<tr class="kpi_detailTb_more">
						<td colspan="10">
							<button class="kpi_detailTb_morebtn" (click)="kpiMoreBtn(i)"></button>
						</td>
					</tr>
				</table>
			</div>



		</div>
	</div>
</div>


<div class="chartDetail" *ngIf="chart_time.isChartdetail"
	[style]="'left:'+chart_time.chartdetail_x+'px; top:'+chart_time.chartdetail_y+'px;'">
	<table class="chartDetail_tb">
		<tr>
			<th>Item Name</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>Time</td>
			<td>09/01 20:00</td>
		</tr>
		<tr>
			<td>Target</td>
			<td>0.73</td>
		</tr>
		<tr>
			<td>Rate</td>
			<td>0.99</td>
		</tr>
		<tr>
			<th colspan="2">Max Step Info</th>
		</tr>
		<tr>
			<td>Produce</td>
			<td>92</td>
		</tr>
		<tr>
			<td>Hour</td>
			<td>93</td>
		</tr>
	</table>
</div>