.ac {

	// .ac_box
	&_box {
		overflow-y: auto;
		height: 100%;
		padding-bottom: 80px;
	}

	// .ac_head
	&_head {
		position: relative;
		@include d_f(flex, none, flex-start);
		min-height: 142px;
		margin-top: 30px;
		padding-right: 20px;
		padding-bottom: 20px;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: calc(100% - 15px);
			height: 1px;
			background-color: #DCDCDC;
		}

		// .ac_head_date
		&_date {
			@include d_f(flex, flex-end, flex-end);
			width: 436px;
			padding-top: 10px;
			padding-right: 20px;
			padding-bottom: 50px;
			border-right: 1px solid #DCDCDC;
		}

		// .ac_head_day
		&_day {
			@include d_f(flex, center, center);
			width: 84px;
			height: 84px;
			margin-right: 14px;
			background-color: #8ED300;
			font-size: 56px;
			font-weight: 700;
			line-height: 84px;
			color: #fff;
			border-radius: 20px;
		}

		// .ac_head_txt
		&_txt {
			padding-bottom: 15px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;

			&+& {
				margin-left: 20px;
			}

			&::before {
				content: attr(data-msg);
				display: block;
				margin-bottom: 5px;
				color: #AFAFAF;
			}
		}

		// .ac_head_alert
		&_alert {
			padding-left: 30px;

			.txt {
				@include d_f(flex, none, center);
				font-size: 32px;
				font-weight: 400;
				line-height: 48px;
				color: #FA2E2E;

				&::before {
					content: attr(data-msg);
					margin-right: 10px;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: #565656;
				}
			}
		}

		// .ac_head_group
		&_group {
			@include d_f(flex);
			flex-wrap: wrap;
		}


	}

	// .ac_content
	&_content {
		margin-top: 12px;
		padding-right: 15px;

		// .ac_content_title
		&_title {
			@include d_f(flex, none, flex-end);
		}

		// .ac_content_week
		&_week {
			font-size: 36px;
			font-weight: 700;
			line-height: 45px;
			color: #2E7FDF;
		}

		// .ac_content_year
		&_year {
			margin-left: 35px;
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
			color: #2E7FDF;
		}

		// .ac_content_day
		&_day {
			@include d_f(flex, none, center);
			margin-left: auto;

			.txt {
				@include d_f(flex, center, center);
				width: 60px;
				height: 30px;
				margin: 0 10px;
				background-color: #2E7FDF;
				color: #fff;
				border-radius: 6px;
			}
		}
	}

	// .ac_table
	&_table {
		width: 100%;
		margin-top: 20px;

		th {
			width: calc(100% / 7);
			height: 32px;
			background-color: #B1B9C8;
			color: #FFFFFF;
			border: 1px solid #C6CFDF;
		}

		td {
			position: relative;
			height: 200px;
			padding: 10px;
			background-color: #fff;
			border: 1px solid #C6CFDF;
			text-align: center;
			vertical-align: top;
		}

		.day._un {
			opacity: .4;
		}

		// .ac_table_group
		&_group {
			z-index: 1;
			position: absolute;
			display: none;
			top: calc(100% + 15px);
			width: 220px;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0px 10px 20px 0px #1E31548C;
			border-radius: 10px;

			.on & {
				display: block;
			}

			&::after {
				content: "";
				position: absolute;
				top: 2px;
				left: 0;
				right: 0;
				display: block;
				width: 18px;
				height: 14px;
				margin: auto;
				background: url('../images/icon_trangle.svg') no-repeat center / contain;
				transform: translateY(-100%);
			}
		}

		// .ac_table_item
		&_item {
			@include d_f(flex, space-between, center);
			margin-top: 7px;
			padding: 6.5px 4px;
			background-color: #D6E4FF;
			border-radius: 5px;
			font-size: 14px;
			font-weight: 400;
			color: #000000;

			&::before,
			&::after {
				@include d_f(inline-flex, center, center);
				color: #fff;
				font-size: 12px;
				font-weight: 400;
				background-color: #FA2E2E;
			}

			&::before {
				content: attr(data-l);
				width: 30px;
				height: 24px;
				border-radius: 5px;
			}

			&::after {
				content: attr(data-r);
				width: 24px;
				height: 24px;
				border-radius: 100%;
			}
		}
	}

	// .ac_model_alert
	&_model_alert {
		@include d_f(flex, none, center);
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 8px 4px;
		background-color: #D6E4FF;
		border-radius: 5px;

		.alert._ac & {
			justify-content: center;
			height: 80px;
			margin: 0;
		}

		.lv {
			padding: 5px 4px;
			font-size: 12px;
			font-weight: 400;
			background-color: #FA2E2E;
			color: #fff;
			border-radius: 5px;

			.alert._ac & {
				@include d_f(flex, center, center);
				width: 56px;
				height: 45px;
				font-size: 20px;
				font-weight: 400;
			}
		}

		.info {
			@include d_f(flex, none, center);
			margin: 0 7px;
			font-size: 14px;
			font-weight: 400;

			.alert._ac & {
				margin: 0 20px;
				font-size: 20px;
				font-weight: 400;
			}

			&::before {
				content: attr(data-l);
				margin-right: 10px;
				color: #000000;
			}

			&::after {
				content: attr(data-r);
				margin-left: 10px;
				color: #DB0000;
			}
		}

		.num {
			@include d_f(flex, center, center);
			width: 24px;
			height: 24px;
			border-radius: 42px;
			background-color: #FA2E2E;
			color: #fff;
			font-size: 12px;
			font-weight: 400;
		}
	}

	// .ac_alertGroup
	&_alertGroup {
		@include d_f(flex);
		flex-wrap: wrap;
		padding: 20px;

		// .ac_alertGroup_item
		&_item {
			width: calc(100% / 3 - 20px / 3);
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 20px 10px 35px;
			background-color: #fff;
			border: 1px solid #D3D8EE;
			border-radius: 10px;

			&:nth-child(3n) {
				margin-right: 0;
			}




		}
	}

	// .ac_alertMore
	&_alertMore {
		position: absolute;
		@include d_f(flex, center);
		right: 0;
		bottom: 0;
		background-color: #fff;
		color: #565656;
		@extend %hand;

		&:after {
			content: attr(data-msg);
			display: block;
			width: 44px;
			border-bottom: 1px solid #565656;
			color: #565656;

		}

		// .ac_alertMore_txt 
		&_txt {
			z-index: 1;
			position: absolute;
			top: calc(100% + 15px);
			display: none;
			width: 480px;
			padding: 16px 10px;
			background-color: #fff;
			font-size: 14px;
			font-weight: 400;
			line-height: 17.5px;
			box-shadow: 0px 10px 20px 0px #1E31548C;
			border-radius: 10px;
			text-align: left;
			transform: translateX(8px);

			.on & {
				display: block;
			}

			.ac_alertGroup_item:nth-child(3n) & {
				right: 0;
				&::after {
					left: auto;
					right: 17px;
				}
			}

			&::after {
				content: "";
				position: absolute;
				top: 2px;
				left: 0;
				right: 0;
				display: block;
				width: 18px;
				height: 14px;
				margin: auto;
				background: url('../images/icon_trangle.svg') no-repeat center / contain;
				transform: translateY(-100%);
			}
		}
	}
}

.row {
	@include d_f(flex);
	width: 100%;
	padding: 0 10px;

	&._juspbe {
		justify-content: space-between;
	}

	&._box {
		flex-direction: column;
		padding: 10px;
		background-color: #F7F7F8;
		border: 1px solid #D3D8EE;
		border-radius: 10px;
		color: #000;
	}

	&._bd {
		padding-bottom: 10px;
		border-bottom: 1px solid #D3D8EE;
	}

	// .row_txt 
	&_txt {
		@include d_f(flex, none, center);
		font-size: 14px;
		font-weight: 400;
		line-height: 17.5px;

		&::before {
			content: attr(data-msg);
			margin-right: 10px;
			font-size: 12px;
			font-weight: 400;
			color: #8C95A6;
		}

		&+& {
			margin-top: 10px;
		}
	}

	&+& {
		margin-top: 10px;
	}
}



.col {

	// .col_txt
	&_txt {
		position: relative;
		@include d_f(flex);
		flex-direction: column;
		font-size: 14px;
		font-weight: 400;
		line-height: 17.5px;

		span {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			font-size: 14px;
			font-weight: 400;
			line-height: 17.5px;
		}

		&::before {
			content: attr(data-msg);
			margin-bottom: 4px;
			font-size: 12px;
			font-weight: 400;
			color: #8C95A6;
		}




	}
}

.stepLv {
	@include d_f(flex, center);
	flex-direction: column;
	width: 100%;
	margin: 0 20px;

	// .stepLv_num
	&_num {
		@include d_f(flex, none, center);

		// .stepLv_num_item
		&_item {
			@include d_f(flex, none, center);
			font-size: 12px;
			font-weight: 400;
			// line-height: 15px;
			color: #FA2E2E;

			&+&::before {
				content: "";
				display: block;
				width: 12px;
				height: 12px;
				margin: 0 4px;
				background: url('../images/icon_arr_option.svg')no-repeat center/contain;
				transform: rotate(-90deg);
			}

			// 
		}
	}

	// .stepLv_line
	&_line {
		position: relative;
		width: 100%;
		height: 1px;
		margin-top: 15px;
		background-color: #FF9900;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			display: block;
			width: 10px;
			height: 10px;
			background-color: #FF9900;
			border-radius: 100%;
		}

		&::before {
			left: 0;
			transform: translate(-50%, -50%);
		}

		&::after {
			right: 0;
			transform: translate(50%, -50%);
		}
	}
}