.epk {

	// .epk_filter
	&_filter {
		position: relative;
		@include d_f(flex, none, flex-end);
		padding: 20px 0;
		padding-right: 15px;

		&+&::after {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			width: calc(100% - 15px);
			height: 1px;
			background-color: #DCDCDC;
		}

		.normal_btn {
			height: 40px;
			margin-left: 30px;
		}

		&:nth-child(2) {
			justify-content: space-between;
		}

		&:nth-child(3) {
			._single {
				max-width: 400px;
			}
		}

		&:nth-child(4) {
			.normal_btn {
				width: 220px;
				margin: auto;
			}

		}
	}

	// .epk_sel
	&_sel {
		position: relative;
		width: 100%;

		&:first-child {
			margin-right: 30px;
		}

		.epk_filter:nth-child(2) & {
			width: calc(50% - 15px);
		}

		&._hasMsg::before {
			content: attr(data-msg);
			display: block;
			margin-bottom: 10px;
			font-size: 12px;
			font-weight: 400;

		}

		// .epk_sel_box
		&_box {
			position: relative;
			@include d_f(flex, none, center);
			width: 100%;
			height: 40px;
			background-color: #fff;
			box-shadow: 0px 2px 12px 0px #00000008;
			border: 1px solid #BCBEC0;
			border-radius: 8px;
			@extend %hand;

			&._single {
				padding: 10px 44px 10px 12px;

				&::after {
					pointer-events: none;
					content: "";
					position: absolute;
					right: 10px;
					top: 0;
					bottom: 0;
					flex: none;
					display: block;
					width: 24px;
					height: 24px;
					margin: auto;
					background-size: contain;
					background-position: center / center;
					background-repeat: no-repeat;
					background-image: url('../images/icon_arrDown_sel.svg');
				}
			}

			&._mult {
				@include d_f(flex);
				width: 100%;
				padding: 6.5px 0 6.5px 12px;

			}

			&+& {
				margin-top: 10px;
			}

			.content {
				overflow: hidden;
				width: calc(100% - 55px);
				margin-right: 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.btnbox {
				position: relative;
				@include d_f(inline-flex, none, center);
				height: 100%;
				padding-right: 6px;
				margin-left: auto;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					width: 1px;
					height: 100%;
					margin: auto;
					background-color: #BCBEC0;
				}
			}

			.icon_btn+.icon_btn {
				margin-left: 17px;
			}

			.mult_item {
				@include d_f(inline-flex, none, center);
				padding: 4px;
				border-radius: 4px;
				background-color: #E8EDF6;
				font-family: Noto Sans CJK TC;
				font-size: 16px;
				font-weight: 400;

				.icon_btn {
					margin-left: 6px;
				}
			}

			.mult_item+.mult_item {
				margin-left: 10px;
			}

		}


		// .epk_sel_group
		&_group {
			z-index: 1;
			position: absolute;
			top: calc(100% + 5px);
			@include d_f(flex);
			width: 100%;
			background-color: #FFFFFF;
			border: 1px solid #BCBCBC;
			border-radius: 8px;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				display: block;
				width: 1px;
				height: 100%;
				margin: auto;
				background-color: #BCBCBC;
			}
		}

		// .epk_sel_groupBox
		&_groupBox {
			overflow-y: auto;
			width: 100%;
			max-height: 290px;
			padding: 10px 0;
		}

	}

	// .epk_detail
	&_detail {
		margin-top: 20px;
		padding: 10px;
		border: 1px solid #D3D8EE;
		border-radius: 10px;
		background-color: #fff;

		// .epk_detail_box
		&_box {

			overflow: auto;
			width: 100%;
			height: calc(100% - 26px - 24px);
			padding-bottom: 80px;
		}

		// .epk_detail_item
		&_item {
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			color: #000;

			&::before {
				content: attr(data-msg);
				margin-right: 6px;
				color: #8C95A6;
			}

			&+& {
				margin-top: 10px;
			}
		}


		// .epk_detail_filter
		&_filter {
			position: relative;
			@include d_f(flex);
			margin-top: 20px;


			&::before {
				content: attr(data-msg);
				flex: none;
				display: block;
				width: 100px;
				color: #8C95A6;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				text-align: right;
			}

			border-bottom:1px solid #DCDCDC;

			&+& {
				margin-top: 30px;
			}
		}

		// .epk_detail_filterBox
		&_filterBox {
			@include d_f(flex);
			flex-wrap: wrap;

			&:not(._show) {
				overflow: hidden;
				height: 36px;
			}
		}



		// .epk_detail_tb
		&_tb {
			width: 100%;
			margin-top: 30px;
			table-layout: fixed;


			th {
				height: 40px;
				padding: 10px;
				background-color: #8C95A6;
				border: 1px solid #D8D8D8;
				color: #D6E0F1;
				white-space: nowrap;

				&:nth-child(1) {
					width: 318px;
				}

				&:nth-child(2) {
					width: 129px;
				}

				&:nth-child(3) {
					width: 139px;
				}

				&:nth-child(4),
				&:nth-child(5) {
					width: 133px;
				}

				&:nth-child(6),
				&:nth-child(7) {
					width: 112px;
				}

				&:nth-child(8),
				&:nth-child(9) {
					width: 126px;
				}

				&:nth-child(10) {
					width: 100px;
				}
			}

			td {
				height: 45px;
				background-color: #fff;
				font-size: 14px;
				font-weight: 400;
				line-height: 16.94px;
				text-align: center;
				color: #000;
				border: 1px solid #D8D8D8;
			}
		}
	}
}