.equipment {

	// .equipment_filter
	&_filter {
		@include d_f(flex, none, flex-end);
		height: 80px;
		margin-top: 16px;
		padding: 12px 0;

		.selbox {
			display: block;
			max-width: 180px;
		}

		.normal_btn {
			height: 40px;
		}

		.selbox+.normal_dateRange,
		.normal_dateRange+.normal_btn {
			margin-left: 30px;
		}
	}

	// .equipment_content
	&_content {
		overflow-y: auto;
		height: calc(100% - 80px - 45px);
		margin-top: 10px;
		padding-right: 20px;
		padding-top: 20px;

	}

	// .equipment_group
	&_group {

		// .equipment_group_head
		&_head {
			@include d_f(flex, space-between);
			width: calc(100% - 330px - 20px - 102px);
			margin-left: auto;
			margin-right: 10px;
			margin-bottom: 6px;

			li {
				position: relative;
				width: 100%;

				border-bottom: 1px solid #CFD9EA;

				&:last-child {
					width: 0;
				}

				&::before {
					content: attr(data-msg);
					position: absolute;
					top: -20px;
					font-size: 12px;
					font-weight: 400;
					line-height: 18px;
					color: #8C95A6;
					transform: translateX(-50%);
				}

				&::after {
					content: "";
					display: block;
					width: 1px;
					height: 8px;
					background-color: #CFD9EA;
				}
			}
		}
	}

	// .equipment_item
	&_item {
		@include d_f(flex);
		border-radius: 10px;
		border: 1px solid #CFD9EA;
		@extend %hand;

		&+& {
			margin-top: 15px;
		}

		// .equipment_item_title
		&_title {
			flex: none;
			width: 330px;

			div {
				@include d_f(flex, none, center);
				height: 50px;
				padding: 10px;
				color: #fff;
			}

			div:nth-child(1) {
				background-color: #135DB5;
				border-top-left-radius: 10px;
			}

			div:nth-child(2) {
				background-color: #2E7FDF;
				border-bottom-left-radius: 10px;
			}
		}

		// .equipment_item_list
		&_list {
			width: 100%;
			padding-right: 10px;
			background-color: #fff;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			@extend %transition;

			@include hoverHandler {
				background-color: #E0EEFF;
			}

			.txt {
				flex: none;
				width: 102px;
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
			}
		}

		// .equipment_item_plan
		&_plan {
			@include d_f(flex, none, center);
			height: 50px;
			padding-left: 10px;
			border-bottom: 1px solid #CFD9EA;
		}

		// .equipment_item_result
		&_result {
			@include d_f(flex, none, center);
			height: 50px;
			padding-left: 10px;

			.txt._warning {
				@include d_f(flex, none, center);

				&:after {
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					margin-left: 10px;
					background: url('../images/icon_warning.svg')no-repeat center/contain;
				}
			}
		}

		// .equipment_item_bar
		&_bar {
			width: 100%;
			height: 30px;
			background-color: #D9D9D9;
		}

		// .equipment_item_barItem
		&_barItem {
			position: relative;
			@include d_f(inline-flex, center);
			width: 0;
			height: 100%;

			@include hoverHandler {
				.kpicreaet_more_detail:not(:empty) {
					z-index: 10;
					display: block;
				}
			}

			.kpicreaet_more_detail {
				display: none;
				top: calc(100% + 15px);
				min-width: 85px;
				transform: translate(0, 0);
				text-align: center;
			}

			&.green {
				background-color: #35BE13;
			}

			&.orange {
				background-color: #FFBF1A;
			}

			&.red {
				background-color: #FA2E2E;
			}
		}
	}

	// // .equipment_detailInfo
	&_detailInfo {
		@include d_f(flex, center, center);

		// .equipment_detailInfo_item
		&_item {
			@include d_f(flex, none, center);
			width: 265px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;

			&+& {
				margin-left: 25px;
			}

			&::before {
				content: "";
				display: block;
				width: 34px;
				height: 34px;
				margin-right: 10px;
				border-radius: 10px;
			}

			&._g::before {
				background-color: #35BE13;
			}

			&._r::before {
				background-color: #FA2E2E;
			}

			&._o::before {
				background-color: #FFBF1A;
			}
		}

	}

	// .equipment_detailGroup
	&_detailGroup {
		margin-top: 15px;

		// .equipment_detailGroup_item
		&_item {
			@include d_f(flex, none, center);
			padding: 0 6px;
			padding-right: 20px;
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;

			>*+* {
				margin-left: 15px;
			}

			>div {
				flex: none;
			}

			.equipment_number {
				width: 30px;
			}

			.equipment_line {
				width: 80px;
			}

			.equipment_stime,
			.equipment_etime {
				width: 75px;
			}

			.equipment_ctime {
				width: 70px;
			}

			.equipment_device {
				flex: auto;
				width: 100%;
			}

			.equipment_state {
				width: 80px;

				.state {
					@include d_f(flex, center, center);
					width: 100%;
					height: 30px;
					margin: 0;
					font-size: 14px;
					font-weight: 400;
					line-height: 21px;
					color: #fff;
				}
			}

			.equipment_personnel {
				width: 160px;
			}

			.equipment_weight {
				width: 36px;
			}

			.equipment_affect {
				flex: auto;
				width: 100%;
				// width: 170px;
			}

			.equipment_note {
				position: relative;
				width: 28px;

				// .equipment_note_inside
				&_inside {
					z-index: 10;
					position: absolute;
					top: calc(100% + 15px);
					right: -8px;
					display: none;
					width: 300px;
					padding: 16px 10px;
					background-color: #fff;
					border-radius: 10px;
					font-size: 14px;
					font-weight: 400;
					line-height: 21px;
					letter-spacing: -0.015em;
&.on{
	display: block;
}
					&::after {
						content: "";
						position: absolute;
						top: 2px;
						right: 14px;
						display: block;
						width: 18px;
						height: 14px;
						background: url('../images/icon_trangle.svg') no-repeat center / contain;
						transform: translateY(-100%);
					}
				}
			}

			&._title {
				height: 36px;
				background-color: #B1B9C8;
				color: #fff;
				border-radius: 10px;
			}

			&+& {
				margin-top: 10px;
			}

			&:not(._title) {
				height: 57px;
				border: 1px solid #CFD9EA;
				border-radius: 10px;
			}
		}
	}
}