.kpi {

	// .kpi_filter
	&_filter {
		@include d_f(flex, none, flex-end);
		height: 80px;
		margin-top: 15px;
		padding-bottom: 11px;
		padding-right: 30px;
		padding: 15px 20px;
	}

	// .kpi_content
	&_content {
		width: 100%;
		height: calc(100% - 26px - 80px);
		background-color: #b1b9c8;
	}

	// .kpi_head
	&_head {
		@include d_f(flex, none, center);
		width: 100%;
		height: 48px;
		padding: 0 20px;
	}

	// .kpi_body
	&_body {
		@include d_f(flex);
		height: calc(100% - 48px);
	}

	// .kpi_level
	&_level {
		@include d_f(flex);
		flex-direction: column;
		height: 100%;

		&._lv1 {
			flex: none;
			width: 280px;

			@include mw(XXL) {
				width: 300px;
			}

			.icon_btn {
				margin-left: auto;
			}
		}

		&._lv2 {
			width: 100%;
			background-color: #f6f6f6;
		}

		&._lv3 {
			flex: none;
			width: 280px;
			background-color: #647189;

			@include minmw(XXL) {
				width: 300px;
			}
		}

		// .kpi_level_title
		&_title {
			position: relative;
			@include d_f(flex, none, center);
			height: 52px;
			padding: 10px 20px;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;

			._lv3 & {
				color: #fff;
			}

			.normal_tb_filterbox {
				z-index: 1;
				left: auto;
				top: 100%;
				right: 10px;
			}
		}
	}

	// .kpi_group
	&_group {
		overflow-y: auto;
		padding: 0 20px 20px;

		._lv2 &,
		._lv3 & {
			@include d_f(flex, none, flex-start);
			align-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			padding-bottom: 115px;
		}


		.favorite_body & {
			@include d_f(flex);
			flex-wrap: wrap;
		}


	}

	// .kpi_item
	&_item {
		position: relative;
		@include d_f(flex);
		flex-wrap: wrap;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #ffffff;
		border-radius: 10px;
		@extend %hand;

		@include hoverHandler {
			.kpicreaet_more_detail {
				display: block;
			}
		}

		.kpicreaet_more_detail {
			z-index: 1;
			display: none;
			top: 100%;
			left: 0;
			right: 0;
			max-width: 200px;
			margin: auto;
			transform: translate(0, -20px);

			div {
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
			}
		}

		._lv2 & {
			width: calc(100% / 3 - 20px / 3);
			margin-right: 10px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		._lv3 & {
			width: 100%;
		}

		&._on {
			background: linear-gradient(137.22deg, #BBF1FF 1.74%, #87FFA1 98.16%);
			box-shadow: 0px 10px 20px 0px #1E31548C;

			.normal_cicle::after {
				background-color: transparent;
			}
		}

		.favorite_body & {
			width: calc(100% / 5 - 100px / 5);
			margin-right: 25px;
			margin-bottom: 30px;
			cursor: default;
			;

			&:nth-child(5n) {
				margin-right: 0;
			}
		}


		// .kpi_item_txt
		&_txt {
			margin-left: 10px;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			color: #afafaf;

			.favorite_body &,
			._lv1 &,
			._lv3 & {
				max-width: calc(100% - 16px - 70px);
			}

			._lv2 & {
				max-width: calc(100% - 16px - 94px);
			}

			&::before {
				content: attr(data-title);
				overflow: hidden;
				display: block;
				display: -webkit-box;
				margin-bottom: 3px;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				color: #565656;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}
		}

		// .kpi_item_detail
		&_detail {
			position: relative;
			display: none;
			width: 100%;
			margin-top: 10px;
			padding-top: 10px;

			.favorite_body &,
			._on & {
				display: block;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -10px;
				width: calc(100% + 20px);
				height: 1px;
				background-color: #0000001a;
			}

			li {
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;

				&:nth-child(1) {
					overflow: hidden;
					padding-right: 40px;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}

		// .kpi_item_state
		&_state {
			flex: none;
			@include d_f(flex, center, center);
			width: 40px;
			height: 20px;
			margin-left: auto;
			border-radius: 999px;
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			color: #fff;

			&._MP {
				background-color: #85C600;
			}

			&._PR {
				background-color: #07AAEF;
			}
		}

		// .kpi_item_btnbox
		&_btnbox {
			position: relative;
			@include d_f(flex, flex-end, center);
			width: 100%;
			margin-top: 10px;
			padding-top: 10px;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -10px;
				width: calc(100% + 20px);
				height: 1px;
				background-color: rgba(0, 0, 0, 0.1019607843);
			}

			>button+button {
				margin-left: 10px;
			}
		}
	}

	// .kpi_detail
	&_detail {
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 20px;
		background-color: #F6F6F6;

		// .kpi_detail_head
		&_head {
			padding-left: 20px;
		}

		// .kpi_detail_title
		&_title {
			margin-top: 17px;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
		}

		// .kpi_detail_filter
		&_filter {
			margin-top: 18px;
			padding-left: 20px;

			.radiobox {
				@include d_f(flex, none, center);
			}

			.normal_radioCheckbox {
				margin-left: 6px;
			}

			.normal_radioCheckbox+.normal_radioCheckbox {
				margin-left: 20px;
			}

			.searchbox {
				@include d_f(flex, none, flex-end);
				margin-top: 10px;
			}

			.normal_selcheck {
				width: 180px;
			}

			.normal_btn {
				height: 40px;
			}

			.normal_inp {
				max-width: 180px;
			}

			.normal_dateRange+.normal_selcheck,
			.normal_selcheck+.normal_selcheck,
			.normal_selcheck+.normal_btn,
			.normal_inp+.normal_inp,
			.normal_inp+.normal_selcheck {
				margin-left: 30px;
			}
		}


		// .kpi_detail_content
		&_content {
			padding: 20px;

			._export {
				margin-left: auto;
			}
		}

	}

	// .kpi_tabbox
	&_tabbox {
		@include d_f(flex, none, center);
		width: 100%;
		height: 48px;
		margin-top: 10px;
		padding: 0 20px;
		background-color: #B1B9C8;

		.border_btn:nth-child(3) {
			margin-left: auto;
		}

		.border_btn+.border_btn:not(:nth-child(3)) {
			margin-left: 10px;
		}
	}


	// .kpi_detailTb
	&_detailTb {
		overflow-x: auto;
		padding-top: 35px;
		padding-bottom: 40px;

		&._issue {
			padding-top: 0;
			padding-bottom: 0;
		}

		// .kpi_detailTb_filter
		&_filter {
			@include d_f(flex, none, center);

			.txt {
				font-size: 16px;
				font-weight: 700;
				line-height: 24px;
			}

			.txt+.normal_btn,
			.normal_btn+.normal_selcheck {
				margin-left: 15px;
			}

		}

		// .kpi_detailTb_tb
		&_tb {
			width: 100%;
			margin-top: 20px;

			tr:not(.kpi_detailTb_more) {
				@include hv {
					td {
						background-color: rgba(171, 255, 0, 1);
					}
				}
			}

			th {
				height: 34px;
				padding: 10px;
				background-color: rgba(140, 149, 166, 1);
				color: rgba(214, 224, 241, 1);
				border: 1px solid rgba(216, 216, 216, 1);
				font-size: 14px;
				font-weight: 400;
				line-height: 17px;

				&.txtl {
					text-align: left;
				}

				._issue & {
					white-space: nowrap;
				}
			}

			td {
				height: 42px;
				padding: 10px;
				border: 1px solid rgba(216, 216, 216, 1);
				text-align: center;
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;

				&.txtl {
					text-align: left;
				}

				&.nowrap {
					white-space: nowrap;
				}

			}

			&._hide {
				tr:not(:nth-child(2)):not(:nth-child(3)):not(:last-child) {
					display: none;
				}
			}

		}

		// .kpi_detailTb_title
		&_title {
			height: 42px;
			padding: 10px;
			background-color: #2E7FDF;
			border: 1px solid #D8D8D8;
			color: #FFFFFF;
			text-align: left;
			border-bottom: none;

			span {
				font-size: 14px;
				font-weight: 700;
				line-height: 21px;
			}

			span+span {
				margin-left: 20px;
			}
		}

		// .kpi_detailTb_more
		&_more {
			position: relative;

			td {
				position: relative;
				border: none;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					margin: auto;
					background-color: #DCDCDC;
				}
			}
		}

		// .kpi_detailTb_morebtn
		&_morebtn {
			@include d_f(flex, center, center);
			width: 26px;
			height: 26px;
			margin: auto;
			background-color: #DCDCDC;
			border-radius: 100%;
			@extend %hand;

			&::before {
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				background: url('../images/icon_arr_calendar.svg')no-repeat center/contain;
				transform: rotate(90deg);

				._hide & {
					transform: rotate(270deg);
				}
			}
		}
	}


	// .kpi_chart
	&_chart {
		position: relative;
		height: 325px;
		margin: auto;
		margin-top: 20px;
		// border: 1px solid #000;

		// .kpi_chart_title
		&_title {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			text-align: center;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;

			._issue & {
				display: none;
			}
		}

		// .kpi_chart_x
		&_x {
			@include d_f(flex, space-between);
			width: 1285px;
			margin: auto;
			margin-top: 5px;
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;

			li {
				width: 100px;
				text-align: center;
			}

			@include mw(special) {
				width: 1140px;
			}
		}

		// .kpi_chart_y
		&_y {
			position: absolute;
			left: 0;
			right: 0;
			@include d_f(flex, space-between);
			flex-direction: column;
			width: 1285px;
			height: 255px;
			margin: auto;

			@include mw(special) {
				width: 1140px;
			}

			&::before {
				content: attr(data-msg);
				position: absolute;
				top: -30px;
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
			}

			&:not(._right):before {
				right: 99%;
			}

			&._right::before {
				left: calc(100% + 10px);
			}

			li {
				position: relative;
				width: 100%;
				height: 1px;

				&::before {
					content: attr(data-msg);
					position: absolute;
					display: inline-block;
					width: 30px;
					transform: translateY(-50%);
					font-size: 12px;
					font-weight: 400;
					color: #333333;
				}
			}

			&:not(._right) li {
				background: url('../images/line_x.svg');

				&::before {
					right: calc(100% + 20px);
					text-align: right;
				}
			}

			&._right li {
				&::before {
					left: calc(100% + 20px);
					text-align: left;
				}
			}
		}

		// .kpi_chart_content
		&_content {
			@include d_f(flex, space-between);
			width: 1285px;
			height: 255px;
			margin: auto;

			@include mw(special) {
				width: 1140px;
			}

			li {
				position: relative;
				@include d_f(flex, center, flex-end);
				width: 100px;
				padding: 0 20px;
				@extend %hand;

				._issue & {
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;

					.green {
						@include hoverHandler {
							background-color: #35BE13;
						}
					}
				}

				&::before {
					content: "";
					position: absolute;
					left: 0;
					display: block;
					width: 1px;
					height: 100%;
					background: url('../images/line_y.svg');

					._issue & {
						display: none;
					}
				}

				._issue &:first-child::before {
					position: absolute;
					left: 0;
					display: block;
					width: 1px;
					height: 100%;
					background: url('../images/line_y.svg');
				}

				&:last-child::after {
					content: "";
					position: absolute;
					right: 0;
					display: block;
					width: 1px;
					height: 100%;
					background: url('../images/line_y.svg');
				}

				span {
					position: relative;
					display: block;
					width: 40px;

					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
					}
				}

				.green {
					background-color: #35BE13;

					@include hoverHandler {
						background-color: #ABFF00;
					}
				}

				.orange {
					background-color: #FB9823;
				}

				.red {
					background-color: #FA2E2E;
				}
			}
		}

		// .kpi_chart_line
		&_line {
			position: absolute;
			display: inline-block;
			top: 0;
			left: 0;
			right: 0;
			width: 1px;
			height: 100%;
			margin: 0 auto;
			background: url('../images/line_y.svg');

			._issue & {
				display: none;
			}
		}
	}
}


.favorite {

	// .favorite_head
	&_head {
		@include d_f(flex, space-between, center);
		margin-top: 25px;
		padding-right: 15px;
	}

	// .favorite_body
	&_body {
		padding-top: 24px;
	}
}


// .chartDetail
.chartDetail {
	position: absolute;
	display: block;
	width: 334px;
	padding: 10px;
	box-shadow: 0px 4px 20px 0px #0000004D;
	background-color: #FFFFFF;

	// .chartDetail_tb
	&_tb {
		width: 100%;
	}

	th {
		width: 50%;
		height: 34px;
		background-color: #ABFF00;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		border: 1px solid #D8D8D8;
	}

	td {
		height: 40px;
		text-align: center;
		border: 1px solid #D8D8D8;
	}

}