<div class="roleset_content">
	<div class="roleset_head">
		<button class="border_btn _add" *ngIf="!isEdit"><i></i>新増角色</button>
		<div class="roleset_head_title" *ngIf="isEdit">Metaengineer</div>
		<div class="roleset_head_txt" *ngIf="isEdit">請選擇可檢視之頁面</div>
	</div>
	<div class="roleset_body" *ngIf="!isEdit">
		<div class="roleset_item" (click)="editRole()">
			Metaengineer
			<button class="icon_btn _trash"></button>
		</div>
		<div class="roleset_item" (click)="editRole()">
			Metaengineer
			<button class="icon_btn _trash"></button>
		</div>
		<div class="roleset_item" (click)="editRole()">
			Metaengineer
			<button class="icon_btn _trash"></button>
		</div>
		<div class="roleset_item" (click)="editRole()">
			Metaengineer
			<button class="icon_btn _trash"></button>
		</div>
	</div>
	<div class="roleset_body" *ngIf="isEdit">
		<ul class="collapse">
			<li class="collapse_item _title">
				<i class="icon_btn _arr"></i>
				<input class="collapse_item_inp" type="text" value="機台/狀態註冊">
				<span class="collapse_item_lineY"></span>
				<div class="collapse_item_btnBox">
					<label class="normal_check">
						<input type="checkbox" class="normal_check_inp">
						<span class="normal_check_span"></span>
					</label>
				</div>
			</li>
			<li class="collapse_item">
				<input class="collapse_item_inp" type="text" value="狀態維護">
				<span class="collapse_item_lineX"></span>
				<span class="collapse_item_lineY"></span>
			</li>
			<li class="collapse_item">
				<input class="collapse_item_inp" type="text" value="機況維護">
				<span class="collapse_item_lineX"></span>
				<span class="collapse_item_lineY"></span>
			</li>
		</ul>
		<!-- 沒有子項目 -->
		<ul class="collapse _only">
			<li class="collapse_item _title">
				<input class="collapse_item_inp" type="text" value="人力/工時註冊">
			</li>
		</ul>
	</div>
</div>