<div class="option_content _model">
    <div class="option_head">
        <button class="border_btn _add"><i></i>新増</button>
    </div>
    <div class="option_body">
        <table class="normal_tb">
            <tr>
                <th>專案類型</th>
                <th>專案</th>
                <th>版號</th>
                <th>專案產品名稱</th>
                <th>UPH(每小時產出)</th>
                <th>YR(良率):小數點一位</th>
                <th>編輯刪除</th>
            </tr>
            <tr>
                <td>PCB/FA</td>
                <td>AMBROSE</td>
                <td>20X056</td>
                <td>AMBROSE RISER</td>
                <td>251</td>
                <td>99.5</td>
                <td>
                    <div class="normal_tb_box _jucc">
                        <button class="icon_btn _trash"></button>
                        <button class="icon_btn _edit"></button>
                    </div>
                </td>
            </tr>
        </table>
        <ul class="normal_page">
            <li class="normal_page_item _prev"></li>
            <li class="normal_page_item on">1</li>
            <li class="normal_page_item">2</li>
            <li class="normal_page_item">3</li>
            <li class="normal_page_item">4</li>
            <li class="normal_page_item">5</li>
            <li class="normal_page_item _dot">...</li>
            <li class="normal_page_item">100</li>
            <li class="normal_page_item _next"></li>
        </ul>
    </div>
</div>