<div class="option_content _permissions">
	<div class="option_head">
		<app-model-select class="" [selectContent]="number_sel" (selShowEvent)="selShow($event)"
			(selEvent)="selHandler($event)" (mouseenter)="mouseevent(true)"
			(mouseleave)="mouseevent(false)"></app-model-select>
		<app-model-select class="" [selectContent]="permissions_sel" (selShowEvent)="selShow($event)"
			(selEvent)="selHandler($event)" (mouseenter)="mouseevent(true)"
			(mouseleave)="mouseevent(false)"></app-model-select>
		<app-model-select class="selbox" [selectContent]="position_sel" (selShowEvent)="selShow($event)"
			(selEvent)="selHandler($event)" (mouseenter)="mouseevent(true)"
			(mouseleave)="mouseevent(false)"></app-model-select>

		<button class="border_btn _add" (click)="permissions_edit('add')">
			<i></i>Add Account
		</button>
	</div>
	<div class="option_body">
		<div class="permissions_item">
			<div class="permissions_item_list _title">
				<div></div>
				<div>Cameron Williamson</div>
			</div>
			<div class="permissions_item_list">
				<div>工號</div>
				<div>11106637</div>
			</div>
			<div class="permissions_item_list">
				<div>email</div>
				<div>williamson_chen_12234567892223wiwynn.com.tw</div>
			</div>
			<div class="permissions_item_list">
				<div>部門</div>
				<div>MA1000</div>
			</div>
			<div class="permissions_item_list">
				<div>職位</div>
				<div>Engineer</div>
			</div>
			<div class="permissions_item_list">
				<div>權限</div>
				<div>Admin</div>
			</div>
			<div class="permissions_item_btnBox">
				<label class="normal_switch">
					<input type="checkbox" />
					<span class="normal_switch_ball"></span>
				</label>
				<button class="icon_btn _edit" (click)="permissions_edit('edit')"></button>
			</div>
		</div>
		<div class="permissions_item">
			<div class="permissions_item_list _title">
				<div></div>
				<div>Cameron Williamson</div>
			</div>
			<div class="permissions_item_list">
				<div>工號</div>
				<div>11106637</div>
			</div>
			<div class="permissions_item_list">
				<div>email</div>
				<div>williamson_chen_12234567892223wiwynn.com.tw</div>
			</div>
			<div class="permissions_item_list">
				<div>部門</div>
				<div>MA1000</div>
			</div>
			<div class="permissions_item_list">
				<div>職位</div>
				<div>Engineer</div>
			</div>
			<div class="permissions_item_list">
				<div>權限</div>
				<div>Admin</div>
			</div>
			<div class="permissions_item_btnBox">
				<label class="normal_switch">
					<input type="checkbox" />
					<span class="normal_switch_ball"></span>
				</label>
				<button class="icon_btn _edit" (click)="permissions_edit('edit')"></button>
			</div>
		</div>
		<div class="permissions_item">
			<div class="permissions_item_list _title">
				<div></div>
				<div>Cameron Williamson</div>
			</div>
			<div class="permissions_item_list">
				<div>工號</div>
				<div>11106637</div>
			</div>
			<div class="permissions_item_list">
				<div>email</div>
				<div>williamson_chen_12234567892223wiwynn.com.tw</div>
			</div>
			<div class="permissions_item_list">
				<div>部門</div>
				<div>MA1000</div>
			</div>
			<div class="permissions_item_list">
				<div>職位</div>
				<div>Engineer</div>
			</div>
			<div class="permissions_item_list">
				<div>權限</div>
				<div>Admin</div>
			</div>
			<div class="permissions_item_btnBox">
				<label class="normal_switch">
					<input type="checkbox" />
					<span class="normal_switch_ball"></span>
				</label>
				<button class="icon_btn _edit" (click)="permissions_edit('edit')"></button>
			</div>
		</div>
		<div class="permissions_item">
			<div class="permissions_item_list _title">
				<div></div>
				<div>Cameron Williamson</div>
			</div>
			<div class="permissions_item_list">
				<div>工號</div>
				<div>11106637</div>
			</div>
			<div class="permissions_item_list">
				<div>email</div>
				<div>williamson_chen_12234567892223wiwynn.com.tw</div>
			</div>
			<div class="permissions_item_list">
				<div>部門</div>
				<div>MA1000</div>
			</div>
			<div class="permissions_item_list">
				<div>職位</div>
				<div>Engineer</div>
			</div>
			<div class="permissions_item_list">
				<div>權限</div>
				<div>Admin</div>
			</div>
			<div class="permissions_item_btnBox">
				<label class="normal_switch">
					<input type="checkbox" />
					<span class="normal_switch_ball"></span>
				</label>
				<button class="icon_btn _edit" (click)="permissions_edit('edit')"></button>
			</div>
		</div>
	</div>
</div>

<!-- Add/Edit Account -->
<div class="alert _option _permissionsEdit" *ngIf="editShow">
	<div class="alert_box">
		<button class="icon_btn _close" (click)="alert_close()"></button>
		<div class="alert_title" *ngIf="editData.isAdd">Add Account</div>
		<div class="alert_title" *ngIf="!editData.isAdd">Edit Account</div>
		<div class="alert_info">
			<div class="normal_inp _hasMsg" data-msg="姓名">
				<input type="text" [value]="editData.name" />
			</div>
			<div class="normal_inp _hasMsg" data-msg="工號">
				<input type="text" [value]="editData.num" />
			</div>
			<div class="normal_inp _hasMsg" data-msg="email">
				<input type="text" [value]="editData.mail" />
			</div>
			<app-model-select class="option_permissionsEdit_sel" [selectContent]="department_sel"
				(selShowEvent)="selShow($event)" (selEvent)="selHandler($event)" (mouseenter)="mouseevent(true)"
				(mouseleave)="mouseevent(false)"></app-model-select>
			<app-model-select class="option_permissionsEdit_sel" [selectContent]="office_sel"
				(selShowEvent)="selShow($event)" (selEvent)="selHandler($event)" (mouseenter)="mouseevent(true)"
				(mouseleave)="mouseevent(false)"></app-model-select>
			<app-model-select class="option_permissionsEdit_sel" [selectContent]="permissions_in_sel"
				(selShowEvent)="selShow($event)" (selEvent)="selHandler($event)" (mouseenter)="mouseevent(true)"
				(mouseleave)="mouseevent(false)"></app-model-select>

			<label class="normal_switch _leftMsg" data-msg="啟用">
				<input type="checkbox" />
				<span class="normal_switch_ball"></span>
			</label>
		</div>
		<div class="alert_btnBox">
			<button class="normal_btn _secondry" (click)="alert_close()">取消</button>
			<button class="normal_btn _primary" *ngIf="editData.isAdd">新増</button>
			<button class="normal_btn _primary" *ngIf="!editData.isAdd">
				儲存變更
			</button>
		</div>
	</div>
</div>