<div class="option_content _working" >
    <div class="option_head _borderB">
        <div class="normal_inp _hasMsg" data-msg="UPN(成品料號)">
            <input type="text">
        </div>
        <div class="normal_inp _hasMsg" data-msg="SPN(半成品料號)">
            <input type="text">
        </div>
        <div class="normal_sel _hasMsg" data-msg="Line">
            <!-- 點擊在span class裡面加上on -->
            <!-- <span class="normal_sel_title" [class.on]="selectShow" (click)="selHandler()">s1</span>
            <ul class="normal_sel_group">
                <li class="normal_sel_item" *ngFor="let item of selectContent.lists"
                    (click)="machineSel(item)">{{item}}</li>
            </ul> -->
        </div>
        <div class="normal_inp _hasMsg" data-msg="PCBN">
            <input type="text">
        </div>
        <div class="normal_sel _hasMsg" data-msg="Type">
            <!-- 點擊在span class裡面加上on -->
            <!-- <span class="normal_sel_title" [class.on]="selectShow" (click)="selHandler()">Dip</span>
            <ul class="normal_sel_group">
                <li class="normal_sel_item" *ngFor="let item of selectContent.lists"
                    (click)="machineSel(item)">{{item}}</li>
            </ul> -->
        </div>
        <button class="normal_btn _primary">Query</button>
    </div>
    <div class="option_clone">
        <div class="option_clone_title">Clone</div>
        <div class="option_clone_info">
            <div class="normal_inp _hasMsg" data-msg="UPN(成品料號)">
                <input type="text">
            </div>
            <div class="normal_inp _hasMsg" data-msg="SPN(半成品料號)">
                <input type="text">
            </div>
            <div class="normal_sel _hasMsg" data-msg="Line">
                <!-- 點擊在span class裡面加上on -->
                <!-- <span class="normal_sel_title" [class.on]="selectShow" (click)="selHandler()">s1</span>
                <ul class="normal_sel_group">
                    <li class="normal_sel_item" *ngFor="let item of selectContent.lists"
                        (click)="machineSel(item)">{{item}}</li>
                </ul> -->
            </div>
            <div class="normal_inp _hasMsg" data-msg="PCBN">
                <input type="text">
            </div>
            <div class="normal_sel _hasMsg" data-msg="Type">
                <!-- 點擊在span class裡面加上on -->
                <!-- <span class="normal_sel_title" [class.on]="selectShow" (click)="selHandler()">Dip</span>
                <ul class="normal_sel_group">
                    <li class="normal_sel_item" *ngFor="let item of selectContent.lists"
                        (click)="machineSel(item)">{{item}}</li>
                </ul> -->
            </div>
        </div>
        <div class="option_clone_btnbox">
            <button class="normal_btn _secondry">Cancel</button>
            <button class="normal_btn _primary">Submit</button>
        </div>
    </div>
    <div class="working_detail">
        <ul class="working_detail_group">
            <li class="working_detail_item">UPN(成品料號)：B91.04G10.0002</li>
            <li class="working_detail_item">SPN(半成品料號)：B55.04S1A.M001</li>
            <li class="working_detail_item">Line：S1</li>
            <li class="working_detail_item">PCBN：B55.04S1A.M001</li>
            <li class="working_detail_item">Type：DIP</li>
        </ul>
        <ul class="working_detail_group">
            <li class="working_detail_item">Model：B55.04S1A.M001</li>
            <li class="working_detail_item">UPD：1234567890 </li>
            <li class="working_detail_item">UPH：1234567890</li>
            <li class="working_detail_item">Bottle Neck：22</li>
        </ul>
    </div>
    <div class="option_body">
        <div class="option_body_btnbox">
            <button class="border_btn _clone"><i></i>Clone</button>
            <button class="border_btn _add"><i></i>新増 Stage</button>
        </div>

        <ul class="working_group">
            <li class="working_item">
                <div class="working_item_title" data-msg="Stage">AC</div>
                <div class="working_item_info">
                    <div class="name" data-msg="設備名稱" data-count="146">
                        NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01
                    </div>
                    <div class="txt" data-msg="Cycle Time">100</div>
                    <div class="txt" data-msg="Man Power">100</div>

                </div>
                <div class="working_item_info">
                    <div class="left">
                        <div class="txt">
                            <span>抽檢:20.2%</span>
                            <span>過版數: 100 pcs</span>
                        </div>
                        <div class="txt">Efficiency：98 %</div>
                        <div class="txt">UPD：1234567890</div>
                    </div>
                    <div class="right">
                        <button class="icon_btn _trash"></button>
                        <button class="icon_btn _edit"></button>
                    </div>
                </div>
            </li>
            <li class="working_item">
                <div class="working_item_title" data-msg="Stage">AC</div>
                <div class="working_item_info">
                    <div class="name" data-msg="設備名稱" data-count="146">
                        NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01
                    </div>
                    <div class="txt" data-msg="Cycle Time">100</div>
                    <div class="txt" data-msg="Man Power">100</div>
                </div>
                <div class="working_item_info">
                    <div class="left">
                        <div class="txt">
                            <span>抽檢:20.2%</span>
                            <span>過版數: 100 pcs</span>
                        </div>
                        <div class="txt">Efficiency：98 %</div>
                        <div class="txt">UPD：1234567890</div>
                    </div>
                    <div class="right">
                        <button class="icon_btn _trash"></button>
                        <button class="icon_btn _edit"></button>
                    </div>
                </div>
            </li>
            <li class="working_item">
                <div class="working_item_title" data-msg="Stage">AC</div>
                <div class="working_item_info">
                    <div class="name" data-msg="設備名稱" data-count="146">
                        NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01
                    </div>
                    <div class="txt" data-msg="Cycle Time">100</div>
                    <div class="txt" data-msg="Man Power">100</div>
                </div>
                <div class="working_item_info">
                    <div class="left">
                        <div class="txt">
                            <span>抽檢:20.2%</span>
                            <span>過版數: 100 pcs</span>
                        </div>
                        <div class="txt">Efficiency：98 %</div>
                        <div class="txt">UPD：1234567890</div>
                    </div>
                    <div class="right">
                        <button class="icon_btn _trash"></button>
                        <button class="icon_btn _edit"></button>
                    </div>
                </div>
            </li>
            <li class="working_item">
                <div class="working_item_title" data-msg="Stage">AC</div>
                <div class="working_item_info">
                    <div class="name" data-msg="設備名稱" data-count="146">
                        NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01
                    </div>
                    <div class="txt" data-msg="Cycle Time">100</div>
                    <div class="txt" data-msg="Man Power">100</div>
                </div>
                <div class="working_item_info">
                    <div class="left">
                        <div class="txt">
                            <span>抽檢:20.2%</span>
                            <span>過版數: 100 pcs</span>
                        </div>
                        <div class="txt">Efficiency：98 %</div>
                        <div class="txt">UPD：1234567890</div>
                    </div>
                    <div class="right">
                        <button class="icon_btn _trash"></button>
                        <button class="icon_btn _edit"></button>
                    </div>
                </div>
            </li>
            <li class="working_item">
                <div class="working_item_title" data-msg="Stage">AC</div>
                <div class="working_item_info">
                    <div class="name" data-msg="設備名稱" data-count="146">
                        NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01
                    </div>
                    <div class="txt" data-msg="Cycle Time">100</div>
                    <div class="txt" data-msg="Man Power">100</div>
                </div>
                <div class="working_item_info">
                    <div class="left">
                        <div class="txt">
                            <span>抽檢:20.2%</span>
                            <span>過版數: 100 pcs</span>
                        </div>
                        <div class="txt">Efficiency：98 %</div>
                        <div class="txt">UPD：1234567890</div>
                    </div>
                    <div class="right">
                        <button class="icon_btn _trash"></button>
                        <button class="icon_btn _edit"></button>
                    </div>
                </div>
            </li>
            <li class="working_item">
                <div class="working_item_title" data-msg="Stage">AC</div>
                <div class="working_item_info">
                    <div class="name" data-msg="設備名稱" data-count="146">
                        NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01NPM-01
                    </div>
                    <div class="txt" data-msg="Cycle Time">100</div>
                    <div class="txt" data-msg="Man Power">100</div>
                </div>
                <div class="working_item_info">
                    <div class="left">
                        <div class="txt">
                            <span>抽檢:20.2%</span>
                            <span>過版數: 100 pcs</span>
                        </div>
                        <div class="txt">Efficiency：98 %</div>
                        <div class="txt">UPD：1234567890</div>
                    </div>
                    <div class="right">
                        <button class="icon_btn _trash"></button>
                        <button class="icon_btn _edit"></button>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="normal_page">
            <li class="normal_page_item _prev"></li>
            <li class="normal_page_item on">1</li>
            <li class="normal_page_item">2</li>
            <li class="normal_page_item">3</li>
            <li class="normal_page_item">4</li>
            <li class="normal_page_item">5</li>
            <li class="normal_page_item _dot">...</li>
            <li class="normal_page_item">100</li>
            <li class="normal_page_item _next"></li>
        </ul>
    </div>
</div>