<div class="container_title" data-tw="KPI 指標">E-KPI</div>

<div class="kpi_filter">
  <div class="normal_dateRange _hasMsg" data-msg="Date Range">
    <div class="normal_dateRange_title" (click)="dateHanler('start')">
      <div class="date">
        <span>{{ this.kpi_filter.start.year }}</span>
        <span>{{ this.kpi_filter.start.month }}</span>
        <span>{{ this.kpi_filter.start.day }}</span>
      </div>
      <div class="time">
        <span>{{ this.kpi_filter.start.hour }}</span>
        <span>{{ this.kpi_filter.start.min }}</span>
      </div>
    </div>
    <app-model-calendar
      class="calendar"
      *ngIf="kpi_filter.start.isShow"
      [calendar_content]="calendar"
      (calendar_return)="calerdarReturnHandler($event)"
    >
    </app-model-calendar>
  </div>
  <div class="normal_dateRange">
    <div class="normal_dateRange_title" (click)="dateHanler('end')">
      <div class="date">
        <span>{{ this.kpi_filter.end.year }}</span>
        <span>{{ this.kpi_filter.end.month }}</span>
        <span>{{ this.kpi_filter.end.day }}</span>
      </div>
      <div class="time">
        <span>{{ this.kpi_filter.end.hour }}</span>
        <span>{{ this.kpi_filter.end.min }}</span>
      </div>
    </div>
    <app-model-calendar
      class="calendar"
      *ngIf="kpi_filter.end.isShow"
      [calendar_content]="calendar"
      (calendar_return)="calerdarReturnHandler($event)"
    >
    </app-model-calendar>
  </div>
  <button class="normal_btn _primary">Query</button>
  <button class="normal_btn _primary _kpi">設定 My KPI</button>
</div>

<div class="kpi_content">
  <div class="kpi_head">
    <label class="normal_check">
      <input type="checkbox" class="normal_check_inp" />
      <span class="normal_check_bg"></span>
      <span class="normal_check_txt">All</span>
    </label>
    <label class="normal_check">
      <input type="checkbox" class="normal_check_inp" />
      <span class="normal_check_bg"></span>
      <span class="normal_check_txt">UPPH</span>
    </label>
    <label class="normal_check">
      <input type="checkbox" class="normal_check_inp" />
      <span class="normal_check_bg"></span>
      <span class="normal_check_txt">PCBA FPYR DIP</span>
    </label>
    <label class="normal_check">
      <input type="checkbox" class="normal_check_inp" />
      <span class="normal_check_bg"></span>
      <span class="normal_check_txt">OEE</span>
    </label>
    <label class="normal_check _star">
      <input type="checkbox" class="normal_check_inp" />
      <span class="normal_check_bg"></span>
      <span class="normal_check_txt">My KPI</span>
    </label>
  </div>
  <div class="kpi_body">
    <div class="kpi_level _lv1">
      <div class="kpi_level_title">
        Level.1 <button class="icon_btn _filter" (click)="filterLv1()"></button>
        <div class="normal_tb_filterbox" *ngIf="filter_lv1.isShow">
          <label class="normal_check">
            <input type="checkbox" class="normal_check_inp" />
            <span class="normal_check_span"></span>
            <span class="normal_check_bg"></span>
            <span class="normal_check_txt">Select All</span>
          </label>
          <label class="normal_check">
            <input type="checkbox" class="normal_check_inp" />
            <span class="normal_check_span"></span>
            <span class="normal_check_bg"></span>
            <span class="normal_check_txt">SMT</span>
          </label>
          <label class="normal_check">
            <input type="checkbox" class="normal_check_inp" />
            <span class="normal_check_span"></span>
            <span class="normal_check_bg"></span>
            <span class="normal_check_txt">DIP</span>
          </label>
          <label class="normal_check">
            <input type="checkbox" class="normal_check_inp" />
            <span class="normal_check_span"></span>
            <span class="normal_check_bg"></span>
            <span class="normal_check_txt">FA</span>
          </label>
        </div>
      </div>
      <ul class="kpi_group">
        <li class="kpi_item" *ngFor="let item of kpi.data; index as i">
          <div
            [class]="[
              'normal_cicle',
              '_min',
              item.range,
              item.isRed ? '_red' : '',
              item.isNodata ? '_nodata' : ''
            ]"
            [attr.data-num]="item.number"
          >
            <span
              class="normal_cicle_s1"
              [style]="'--rot:' + item.rotate"
            ></span>
            <span class="normal_cicle_fake"></span>
          </div>
          <div class="kpi_item_txt" [attr.data-title]="item.term">
            Target:{{ item.target }}
          </div>
          <button
            [class]="['icon_btn', '_star', item.isFav ? '' : '_hide']"
          ></button>
          <ul class="kpi_item_detail">
            <li>
              {{ item.detail }}
              <button class="kpicreaet_more" (click)="moreHandler($event, i)">
                more
              </button>
            </li>
            <li>Line:D1,D2,D3,D4,D6,D7</li>
            <li>Stages:BD,CT,HB,IA,TA,TD</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="kpi_level _lv2">
      <div class="kpi_level_title">Level.2</div>
    </div>
    <div class="kpi_level _lv3">
      <div class="kpi_level_title">Level.3</div>
    </div>
  </div>
</div>

<div
  class="kpicreaet_more_detail"
  [style]="'left:' + kpi.detailboxX + 'px; top:' + kpi.detailboxY + 'px;'"
  *ngIf="kpi.detailTxt !== ''"
>
  {{ kpi.detailTxt }}
</div>
