<div class="alert _msg">
    <div class="alert_box">
        <button class="icon_btn _close" (click)="alert_close('msg')"></button>
        <div class="alert_title">{{alertMsg.title}}</div>
        <div class="alert_info">
            <span class="alert_info_txt">{{alertMsg.msg}}</span>
        </div>
        <div class="alert_btnBox">
            <button class="normal_btn _secondry" (click)="alert_close('msg')">取消</button>
            <button class="normal_btn _primary" (click)="alert_check(alertMsg.str)">確定</button>
        </div>
    </div>
</div>