<div class="option_content _kpicreaet">
    <div class="option_head">
        <button class="border_btn _add"><i></i>Add KPI Pointer</button>
    </div>
    <div class="option_body">
        <ul class="kpicreaet_group">
            <li class="kpicreaet_item">
                <div class="kpicreaet_item_box">
                    <div class="normal_cicle _min _quarter4" data-num="99">
                        <span class="normal_cicle_s1" style="--rot:320deg;"></span>
                        <span class="normal_cicle_fake"></span>
                    </div>
                    <div class="kpicreaet_item_txt" data-title="PCBA FPYR DIP">
                        Target:98.5
                    </div>
                </div>
                <ul class="kpicreaet_item_detail">
                    <li>
                        PCBA FPYR-11 測試站點 測試站PCBA FPYR-11 測試站點 測試站...
                        <button style="display: none1;">more</button>
                    </li>
                    <li>Line:D1,D2,D3,D4,D6,D7</li>
                    <li>Stages:BD,CT,HB,IA,TA,TD</li>
                </ul>
                <div class="kpicreaet_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpicreaet_item">
                <div class="kpicreaet_item_box">
                    <div class="normal_cicle _min _low _quarter4" data-num="99">
                        <span class="normal_cicle_s1" style="--rot:320deg;"></span>
                        <span class="normal_cicle_fake"></span>
                    </div>
                    <div class="kpicreaet_item_txt" data-title="PCBA FPYR DIP">
                        Target:98.5
                    </div>
                </div>
                <ul class="kpicreaet_item_detail">
                    <li>
                        PCBA FPYR-11 測試站點 測試站PCBA FPYR-11 測試站點 測試站...
                        <button style="display: none1;">more</button>
                    </li>
                    <li>Line:D1,D2,D3,D4,D6,D7</li>
                    <li>Stages:BD,CT,HB,IA,TA,TD</li>
                </ul>
                <div class="kpicreaet_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpicreaet_item">
                <div class="kpicreaet_item_box">
                    <div class="normal_cicle _min _quarter4" data-num="99">
                        <span class="normal_cicle_s1" style="--rot:320deg;"></span>
                        <span class="normal_cicle_fake"></span>
                    </div>
                    <div class="kpicreaet_item_txt" data-title="PCBA FPYR DIP">
                        Target:98.5
                    </div>
                </div>
                <ul class="kpicreaet_item_detail">
                    <li>
                        PCBA FPYR-11 測試站點 測試站PCBA FPYR-11 測試站點 測試站...
                        <button style="display: none1;">more</button>
                    </li>
                    <li>Line:D1,D2,D3,D4,D6,D7</li>
                    <li>Stages:BD,CT,HB,IA,TA,TD</li>
                </ul>
                <div class="kpicreaet_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpicreaet_item">
                <div class="kpicreaet_item_box">
                    <div class="normal_cicle _min _low _quarter4" data-num="99">
                        <span class="normal_cicle_s1" style="--rot:320deg;"></span>
                        <span class="normal_cicle_fake"></span>
                    </div>
                    <div class="kpicreaet_item_txt" data-title="PCBA FPYR DIP">
                        Target:98.5
                    </div>
                </div>
                <ul class="kpicreaet_item_detail">
                    <li>
                        PCBA FPYR-11 測試站點 測試站PCBA FPYR-11 測試站點 測試站...
                        <button style="display: none1;">more</button>
                    </li>
                    <li>Line:D1,D2,D3,D4,D6,D7</li>
                    <li>Stages:BD,CT,HB,IA,TA,TD</li>
                </ul>
                <div class="kpicreaet_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpicreaet_item">
                <div class="kpicreaet_item_box">
                    <div class="normal_cicle _min _quarter4" data-num="99">
                        <span class="normal_cicle_s1" style="--rot:320deg;"></span>
                        <span class="normal_cicle_fake"></span>
                    </div>
                    <div class="kpicreaet_item_txt" data-title="PCBA FPYR DIP">
                        Target:98.5
                    </div>
                </div>
                <ul class="kpicreaet_item_detail">
                    <li>
                        PCBA FPYR-11 測試站點 測試站PCBA FPYR-11 測試站點 測試站...
                        <button style="display: none1;">more</button>
                    </li>
                    <li>Line:D1,D2,D3,D4,D6,D7</li>
                    <li>Stages:BD,CT,HB,IA,TA,TD</li>
                </ul>
                <div class="kpicreaet_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpicreaet_item">
                <div class="kpicreaet_item_box">
                    <div class="normal_cicle _min _low _quarter4" data-num="99">
                        <span class="normal_cicle_s1" style="--rot:320deg;"></span>
                        <span class="normal_cicle_fake"></span>
                    </div>
                    <div class="kpicreaet_item_txt" data-title="PCBA FPYR DIP">
                        Target:98.5
                    </div>
                </div>
                <ul class="kpicreaet_item_detail">
                    <li>
                        PCBA FPYR-11 測試站點 測試站PCBA FPYR-11 測試站點 測試站...
                        <button style="display: none1;">more</button>
                    </li>
                    <li>Line:D1,D2,D3,D4,D6,D7</li>
                    <li>Stages:BD,CT,HB,IA,TA,TD</li>
                </ul>
                <div class="kpicreaet_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
        </ul>
        <ul class="normal_page">
            <li class="normal_page_item _prev"></li>
            <li class="normal_page_item on">1</li>
            <li class="normal_page_item">2</li>
            <li class="normal_page_item">3</li>
            <li class="normal_page_item">4</li>
            <li class="normal_page_item">5</li>
            <li class="normal_page_item _dot">...</li>
            <li class="normal_page_item">100</li>
            <li class="normal_page_item _next"></li>
        </ul>
    </div>
</div>