<div class="container_title" data-tw="警報中心">Alarm Center</div>
<div class="ac_box">
	<div class="ac_head">
		<div class="ac_head_date">
			<div class="ac_head_day">{{ date.day }}</div>
			<div class="ac_head_txt" data-msg="Today">
				{{ date.weekName[date.week] }}
			</div>
			<div class="ac_head_txt" data-msg="">
				{{ date.monthName[date.month] }}
			</div>
			<div class="ac_head_txt" data-msg="">{{ date.year }}</div>
		</div>
		<div class="ac_head_alert">
			<div class="txt" data-msg="Alerts: ">4</div>
			<ul class="ac_head_group">
				<li class="ac_model_alert">
					<span class="lv">LV.1</span>
					<span class="info" data-l="MA100000" data-r="BFT_0146666666">/</span>
					<div class="num">2</div>
				</li>
				<li class="ac_model_alert">
					<span class="lv">LV.1</span>
					<span class="info" data-l="MA100000" data-r="BFT_0146666666">/</span>
					<div class="num">2</div>
				</li>
				<li class="ac_model_alert">
					<span class="lv">LV.1</span>
					<span class="info" data-l="MA100000" data-r="BFT_0146666666">/</span>
					<div class="num">2</div>
				</li>
				<li class="ac_model_alert">
					<span class="lv">LV.1</span>
					<span class="info" data-l="MA100000" data-r="BFT_0146666666">/</span>
					<div class="num">2</div>
				</li>
				<li class="ac_model_alert">
					<span class="lv">LV.1</span>
					<span class="info" data-l="MA100000" data-r="BFT_0146666666">/</span>
					<div class="num">2</div>
				</li>
				<li class="ac_model_alert">
					<span class="lv">LV.1</span>
					<span class="info" data-l="MA100000" data-r="BFT_0146666666">/</span>
					<div class="num">2</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="ac_filter">
		<!-- 打開class 加上on -->
		<div [class]="['normal_multsearch', '_hasMsg', multsearch.isShow ? 'on' : '']" data-msg="選擇部門"
			(click)="multsearchHandler()" (mouseenter)="mouseevent(true)" (mouseleave)="mouseevent(false)">
			<div class="normal_multsearch_btnbox">
				<button class="icon_btn _multclose"></button>
				<button class="icon_btn _multarr"></button>
			</div>
			<div class="normal_multsearch_content">
				<span class="normal_multsearch_item" *ngFor="let item of multsearch.showLists">
					{{ item.name }}
					<button class="icon_btn _multclose" (click)="unChecked($event, item.id)"></button>
				</span>
			</div>
			<div class="normal_search" (click)="inpHandler($event)">
				<input class="normal_search_inp" type="text" placeholder="搜尋" [(ngModel)]="multsearch.searchTerm"
					(input)="searchEep()" />
			</div>
			<div class="normal_multsearch_checkbox" (mouseenter)="mouseevent(true)" (mouseleave)="mouseevent(false)">
				<label class="normal_check" *ngFor="let item of multsearch.filterLists">
					<input type="checkbox" class="normal_check_inp" [checked]="item.isChecked"
						(change)="checkedHandler($event, item.id)" />
					<span class="normal_check_span"></span>
					<span class="normal_check_bg"></span>
					<span class="normal_check_txt">{{ item.name }}</span>
				</label>
			</div>
		</div>
	</div>
	<div class="ac_content">
		<div class="ac_content_title">
			<div class="ac_content_week">{{ date.monthName[tbData.month] }}</div>
			<div class="ac_content_year">{{ tbData.year }}</div>
			<div class="ac_content_day">
				<button class="calendar_head_prev" (click)="prevMonth()"></button>
				<div class="txt" (click)="tbToday()">Today</div>
				<button class="calendar_head_next" (click)="nextMonth()"></button>
			</div>
		</div>
		<table class="ac_table">
			<tr>
				<th>Sun</th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
			</tr>

			<tr *ngFor="let week of tbData.dates">
				<td *ngFor="let date of week">
					<div [class]="['day', date.c]">{{ date.d }}</div>
					<ng-container *ngFor="let item of date.lists; let i = index">
						<div *ngIf="i < 3" class="ac_table_item" (click)="acDetail()" [attr.data-l]="item.lv"
							[attr.data-r]="item.num">
							{{ item.name }}
						</div>
					</ng-container>
					<button class="border_btn ac_btn" *ngIf="date.lists.length > 3">
						more
						<div class="ac_table_group">
							<div *ngFor="let item of date.lists; let i = index" class="ac_table_item"
								(click)="acDetail()" [attr.data-l]="item.lv" [attr.data-r]="item.num">
								{{ item.name }}
							</div>
						</div>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="alert _ac" *ngIf="ac_alert.isShow">
	<div class="alert_box">
		<button class="icon_btn _close" (click)="alert_close()"></button>
		<div class="alert_title">2023 / 12 / 08 Alert</div>
		<div class="alert_info">
			<div class="ac_model_alert">
				<span class="lv">LV.1</span>
				<span class="info" data-l="MA100000" data-r="BFT_0146666666">/</span>
				<div class="num">2</div>
			</div>

			<ul class="ac_alertGroup">
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
				<li class="ac_alertGroup_item">
					<div class="row">
						<span class="row_txt" data-msg="發生地點">F9C1</span>
					</div>
					<div class="row _juspbe">
						<div class="col_txt" data-msg="發生時間">
							2023/11/22 <br />
							10:00:00
						</div>
						<div class="stepLv">
							<ul class="stepLv_num">
								<li class="stepLv_num_item">LV.4</li>
								<li class="stepLv_num_item">LV.3</li>
								<li class="stepLv_num_item">LV.2</li>
								<li class="stepLv_num_item">LV.1</li>
							</ul>
							<div class="stepLv_line"></div>
						</div>
						<div class="col_txt" data-msg="解除時間">
							2023/11/22 <br />
							10:00:00
						</div>
					</div>
					<div class="row _box">
						<span class="row_txt" data-msg="系統">TIS, SCT, TIS, SCT,TIS, SCT,</span>
						<span class="row_txt" data-msg="線別">S12345</span>
						<span class="row_txt" data-msg="設備">NPM-NS-0001</span>
						<span class="row_txt" data-msg="主管">Tomasz Owczarczyk</span>
						<span class="row_txt" data-msg="PIC">Cameron Williamson</span>
					</div>
					<div class="row _bd">
						<div class="col_txt _line2" data-msg="故障描述">
							<span>OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜
							</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，
									金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，金針歪斜OP誤觸導致，
									金針歪斜OP誤觸導致，金針歪斜OP誤觸導致，金針歪斜導致，金金針歪斜導致針歪斜導致，
									金針歪斜
								</div>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col_txt _line2" data-msg="回覆內容">
							<span>回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</span>
							<!-- 打開more class加上 on -->
							<button data-msg="more" class="ac_alertMore" data-msg="more">
								...
								<div class="ac_alertMore_txt">
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容
									回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆
									內容回覆內容
								</div>
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>