<div class="option_content _kpitarget">
    <div class="option_head ">
        <button class="border_btn _add"><i></i>新増算法 Target</button>
    </div>
    <div class="option_body">
        <ul class="kpitarget_group">
            <li class="kpitarget_item">
                <div class="kpitarget_item_content">
                    <div class="kpitarget_item_txt" data-msg="算法項目">FPYR</div>
                    <div class="kpitarget_item_txt" data-msg="時間">2023/12月</div>
                    <div class="kpitarget_box">
                        <!-- 0-25  25-50 50-75 75-100 -->
                        <!-- 
                            _quarter1：0-25   
                            _quarter2：26-50
                            _quarter3：50-75
                            _quarter4：75-100
                        -->
                        <!-- 趴數*3.6  ex num=25  --rot=25*.36 -->
                        <div class="normal_cicle _quarter4" data-num="26">
                            <span class="normal_cicle_s1" style="--rot:280deg;"></span>
                            <span class="normal_cicle_fake"></span>
                        </div>
                        <div class="kpitarget_box_txt">Target</div>
                    </div>
                </div>

                <div class="kpitarget_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpitarget_item">
                <div class="kpitarget_item_content">
                    <div class="kpitarget_item_txt" data-msg="算法項目">FPYR</div>
                    <div class="kpitarget_item_txt" data-msg="時間">2023/12月</div>
                    <div class="kpitarget_box">
                        <div class="normal_cicle _quarter4" data-num="26">
                            <span class="normal_cicle_s1" style="--rot:360deg;"></span>
                            <span class="normal_cicle_fake"></span>
                        </div>
                        <div class="kpitarget_box_txt">Target</div>
                    </div>
                </div>

                <div class="kpitarget_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpitarget_item">
                <div class="kpitarget_item_content">
                    <div class="kpitarget_item_txt" data-msg="算法項目">FPYR</div>
                    <div class="kpitarget_item_txt" data-msg="時間">2023/12月</div>
                    <div class="kpitarget_box">
                        <div class="normal_cicle _quarter4" data-num="26">
                            <span class="normal_cicle_s1" style="--rot:360deg;"></span>
                            <span class="normal_cicle_fake"></span>
                        </div>
                        <div class="kpitarget_box_txt">Target</div>
                    </div>
                </div>

                <div class="kpitarget_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpitarget_item">
                <div class="kpitarget_item_content">
                    <div class="kpitarget_item_txt" data-msg="算法項目">FPYR</div>
                    <div class="kpitarget_item_txt" data-msg="時間">2023/12月</div>
                    <div class="kpitarget_box">
                        <div class="normal_cicle _quarter4" data-num="26">
                            <span class="normal_cicle_s1" style="--rot:360deg;"></span>
                            <span class="normal_cicle_fake"></span>
                        </div>
                        <div class="kpitarget_box_txt">Target</div>
                    </div>
                </div>

                <div class="kpitarget_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpitarget_item">
                <div class="kpitarget_item_content">
                    <div class="kpitarget_item_txt" data-msg="算法項目">FPYR</div>
                    <div class="kpitarget_item_txt" data-msg="時間">2023/12月</div>
                    <div class="kpitarget_box">
                        <div class="normal_cicle _quarter4" data-num="26">
                            <span class="normal_cicle_s1" style="--rot:360deg;"></span>
                            <span class="normal_cicle_fake"></span>
                        </div>
                        <div class="kpitarget_box_txt">Target</div>
                    </div>
                </div>

                <div class="kpitarget_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpitarget_item">
                <div class="kpitarget_item_content">
                    <div class="kpitarget_item_txt" data-msg="算法項目">FPYR</div>
                    <div class="kpitarget_item_txt" data-msg="時間">2023/12月</div>
                    <div class="kpitarget_box">
                        <div class="normal_cicle _quarter4" data-num="26">
                            <span class="normal_cicle_s1" style="--rot:360deg;"></span>
                            <span class="normal_cicle_fake"></span>
                        </div>
                        <div class="kpitarget_box_txt">Target</div>
                    </div>
                </div>

                <div class="kpitarget_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
            <li class="kpitarget_item">
                <div class="kpitarget_item_content">
                    <div class="kpitarget_item_txt" data-msg="算法項目">FPYR</div>
                    <div class="kpitarget_item_txt" data-msg="時間">2023/12月</div>
                    <div class="kpitarget_box">
                        <div class="normal_cicle _quarter4" data-num="26">
                            <span class="normal_cicle_s1" style="--rot:360deg;"></span>
                            <span class="normal_cicle_fake"></span>
                        </div>
                        <div class="kpitarget_box_txt">Target</div>
                    </div>
                </div>

                <div class="kpitarget_item_btnbox">
                    <button class="icon_btn _trash"></button>
                    <button class="icon_btn _edit"></button>
                </div>
            </li>
        </ul>
        <ul class="normal_page">
            <li class="normal_page_item _prev"></li>
            <li class="normal_page_item on">1</li>
            <li class="normal_page_item">2</li>
            <li class="normal_page_item">3</li>
            <li class="normal_page_item">4</li>
            <li class="normal_page_item">5</li>
            <li class="normal_page_item _dot">...</li>
            <li class="normal_page_item">100</li>
            <li class="normal_page_item _next"></li>
        </ul>
    </div>
</div>