<div class="option_content _maintain">
    <div class="option_head">
        <button class="border_btn _add" (click)="editHandler('add')"><i></i>新増狀態</button>
        <button class="border_btn _export"><i></i>匯出 Excel</button>
        <button class="border_btn _inport"><i></i>匯入 Excel</button>
        <button class="border_btn _refresh"><i></i>Refresh</button>
    </div>
    <div class="option_body">
        <table class="normal_tb">
            <tr>
                <th>
                    <div class="normal_tb_box">
                        狀態代碼
                        <!-- 遞增加上 _asc 遞減加上 _desc-->
                        <button class="icon_btn _sort"></button>
                        <button class="icon_btn _filter" (click)="filterMatintain()"></button>
                        <div class="normal_tb_filterbox" *ngIf="filter_maintain.isShow">
                            <label class="normal_search">
                                <input class="normal_search_inp" type="text" placeholder="搜尋">
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <span class="normal_check_txt">Select All</span>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <span class="normal_check_txt">EQ_WAIT</span>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <span class="normal_check_txt">PM</span>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <span class="normal_check_txt">PD_RUN</span>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <span class="normal_check_txt">ENG</span>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <span class="normal_check_txt">OFF</span>
                            </label>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="normal_tb_box">
                        狀態顏色
                        <button class="icon_btn _filter" (click)="filterColor()"></button>
                        <div class="normal_tb_filterbox" *ngIf="filter_color.isShow">
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <span class="normal_check_txt">Select All</span>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <div class="state WAIT"></div>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <div class="state PM"></div>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <div class="state PD_RUN"></div>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <div class="state ENG"></div>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <div class="state OFF"></div>
                            </label>
                            <label class="normal_check">
                                <input type="checkbox" class="normal_check_inp">
                                <span class="normal_check_span"></span>
                                <span class="normal_check_bg"></span>
                                <div class="state PR_RUN"></div>
                            </label>
                        </div>
                    </div>
                </th>
                <th>狀態說明</th>
                <th>
                    <div class="normal_tb_box _jucc">
                        授權人員
                        <!-- 遞增加上 _asc 遞減加上 _desc-->
                        <button class="icon_btn _sort"></button>
                    </div>
                </th>
                <th>編輯刪除</th>
            </tr>
            <tr>
                <td>EQ_WAIT</td>
                <td>
                    <div class="state WAIT"></div>
                </td>
                <td>
                    機台設備異常當機，機台設備異常當機，機台設備異常當機，機台設備異常當機，機台設備異常當機，機台設備異常當機，
                </td>
                <td>10人</td>
                <td>
                    <div class="normal_tb_box _jucc">
                        <button class="icon_btn _trash" (click)="delHandler()"></button>
                        <button class="icon_btn _edit" (click)="editHandler('edit')"></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>PM</td>
                <td>
                    <div class="state PM"></div>
                </td>
                <td>
                    機台設備異常當機，機台設備異常當機，機台設備異常當機，機台設備異常當機，機台設備異常當機，機台設備異常當機，
                </td>
                <td>10人</td>
                <td>
                    <div class="normal_tb_box _jucc">
                        <button class="icon_btn _trash" (click)="delHandler()"></button>
                        <button class="icon_btn _edit" (click)="editHandler('edit')"></button>
                    </div>
                </td>
            </tr>
        </table>
        <ul class="normal_page">
            <li class="normal_page_item _prev"></li>
            <li class="normal_page_item on">1</li>
            <li class="normal_page_item">2</li>
            <li class="normal_page_item">3</li>
            <li class="normal_page_item">4</li>
            <li class="normal_page_item">5</li>
            <li class="normal_page_item _dot">...</li>
            <li class="normal_page_item">100</li>
            <li class="normal_page_item _next"></li>
        </ul>
    </div>
</div>

<!-- 新增/編輯狀態 -->
<div class="alert _maintain" *ngIf="editAlert.isShow">
    <div class="alert_box">
        <button class="icon_btn _close" (click)="alert_close('editAlert')"></button>
        <div class="alert_title" *ngIf="editAlert.state=='add'">新增狀態</div>
        <div class="alert_title" *ngIf="editAlert.state=='edit'">編輯狀態</div>
        <div class="alert_info">
            <div class="alert_info_box _filter">
                <div class="normal_inp _hasMsg" data-msg="狀態代碼">
                    <input type="text" placeholder="EQ_WAIT">
                </div>
                <app-model-select class="sel_box" [selectContent]="type_selete" (selShowEvent)="selShow($event)"
                    (selEvent)="selHandler($event)"></app-model-select>
            </div>
            <div class="alert_info_box _hasMsg" data-msg="狀態顏色">
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state WAIT"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state PM"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state PD_RUN"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state ENG"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state OFF"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state PR_RUN"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state PINK"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state BLUE"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state GREEN"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state YELLOW"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state GRESS"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state ORANGE"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state GREYBLUE"></div>
                </label>
                <label class="maintain_color">
                    <input type="radio" name="state_radio" id="">
                    <div class="state GREY"></div>
                </label>
            </div>
            <div class="alert_info_box _hasMsg" data-msg="狀態說明">
                <textarea class="alert_info_textarea"></textarea>
            </div>
            <!-- 打開class 加上on -->
            <div [class]="['normal_multsearch' ,'_hasMsg', multsearch.isShow?'on':''] " data-msg="授權人員"
                (click)="multsearchHandler()">
                <div class="normal_multsearch_btnbox">
                    <button class="icon_btn _multclose"></button>
                    <button class="icon_btn _multarr"></button>
                </div>
                <div class="normal_multsearch_content">
                    <span class="normal_multsearch_item" *ngFor="let item of multsearch.showLists">
                        {{item.name}}
                        <button class="icon_btn _multclose" (click)="unChecked($event,item.id)"></button>
                    </span>

                </div>
                <div class="normal_search" (click)="inpHandler($event)">
                    <input class="normal_search_inp" type="text" placeholder="搜尋">
                </div>
                <div class="normal_multsearch_checkbox">
                    <label class="normal_check" *ngFor="let item of multsearch.lists">
                        <input type="checkbox" class="normal_check_inp" [checked]="item.isChecked"
                            (change)="checkedHandler($event,item.id)">
                        <span class="normal_check_span"></span>
                        <span class="normal_check_bg"></span>
                        <span class="normal_check_txt">{{item.name}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="alert_btnBox">
            <button class="normal_btn _secondry" (click)="alert_close('editAlert')">取消</button>
            <button class="normal_btn _primary" *ngIf="editAlert.state=='add'">新增</button>
            <button class="normal_btn _primary" *ngIf="editAlert.state=='edit'">儲存變更</button>
        </div>
    </div>
</div>
<!-- 刪除狀態 -->
<div class="alert _msg" *ngIf="delAlert.isShow">
    <div class="alert_box">
        <button class="icon_btn _close" (click)="alert_close('delAlert')"></button>
        <div class="alert_title">刪除狀態</div>
        <div class="alert_info">
            <span class="alert_info_txt">您確定要刪除此狀態？</span>

            <ul class="alert_info_detail">
                <li data-msg="狀態代碼：">EQ_WAIT</li>
                <li data-msg="排序：">1</li>
                <li data-msg="Type：">Loss</li>
                <li data-msg="狀態顏色：">
                    <div class="state WAIT"></div>
                </li>
                <li data-msg="狀態說明：">
                    機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機機台設備異常當機
                </li>
            </ul>
        </div>
        <div class="alert_btnBox">
            <button class="normal_btn _secondry" (click)="alert_close('delAlert')">取消</button>
            <button class="normal_btn _danger">刪除</button>
        </div>
    </div>
</div>