<div class="option_head _rolesetEdit">
    <div class="roleset_head_title">Metaengineer</div>
    <div class="roleset_head_txt">請選擇可檢視之頁面</div>
</div>
<div class="option_body">
    <ul class="collapse">
        <li class="collapse_item _title">
            <i class="icon_btn _arr"></i>
            <input class="collapse_item_inp" type="text" value="機台/狀態註冊" disabled>
            <span class="collapse_item_lineY"></span>
            <div class="collapse_item_btnBox">
                <label class="normal_check">
                    <input type="checkbox" class="normal_check_inp">
                    <span class="normal_check_span"></span>
                </label>
            </div>
        </li>
        <li class="collapse_item">
            <input class="collapse_item_inp" type="text" value="狀態維護" disabled>
            <span class="collapse_item_lineX"></span>
            <span class="collapse_item_lineY"></span>
            <div class="collapse_item_btnBox">
                <label class="normal_check">
                    <input type="checkbox" class="normal_check_inp">
                    <span class="normal_check_span"></span>
                </label>
            </div>
        </li>
        <li class="collapse_item">
            <input class="collapse_item_inp" type="text" value="機況維護" disabled>
            <span class="collapse_item_lineX"></span>
            <span class="collapse_item_lineY"></span>
            <div class="collapse_item_btnBox">
                <label class="normal_check">
                    <input type="checkbox" class="normal_check_inp">
                    <span class="normal_check_span"></span>
                </label>
            </div>
        </li>
    </ul>
    <!-- 沒有子項目 -->
    <ul class="collapse _only">
        <li class="collapse_item _title">
            <input class="collapse_item_inp" type="text" value="人力/工時註冊" disabled>
            <div class="collapse_item_btnBox">
                <label class="normal_check">
                    <input type="checkbox" class="normal_check_inp">
                    <span class="normal_check_span"></span>
                </label>
            </div>
        </li>
    </ul>

    <div class="option_body_btnbox">
        <button class="normal_btn _secondry" (click)="cancelEdit()">取消</button>
        <button class="normal_btn _primary">儲存變更</button>
    </div>
</div>